<a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="address-link" href={$link->getModuleLink('customercomment', 'customer')}>
          <span class="link-item">
            <i class="material-icons"></i>
            Laisse un com
          </span>
</a>